.bi-x-lg {
	font-size: 1rem;
	border: 0.5px solid teal;
	color: white;
	background-color: teal;
	border-radius: 4px;
	padding: 0 2px;
}

// .bi-x-lg:hover {
// 	background-color: teal;
// 	color: white;
// }
