.checkout-modal {
	h2 {
		margin-top: 8px;
		margin-bottom: 24px;
	}

	&_list {
		display: flex;
		flex-direction: column;
		max-height: 400px;
		min-height: 300px;
		overflow-y: auto;

		&-item {
			display: flex;
			margin: 5px 5px;
			.item-number {
				margin-right: 10px;
			}

			.img-wrap {
				// margin: 5px 5px;

				.cart-img {
					max-width: 125px;
				}
			}

			.information {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.item-info {
					margin: auto 20px;

					h4 {
						margin-top: 0px;
						margin-bottom: 4px;
						text-align: center;
						font-size: 1.1rem;
					}
				}
			}
		}
	}

	&_footer {
		border-top: 2px solid rgba(128, 128, 128, 0.288);
		display: flex;
		justify-content: space-between;

		.totalAmount {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			h4:first-child {
				margin: 0 16px;
				font-size: 1.1rem;
			}
		}

		button {
			align-self: center;
			background-color: $primary;
			color: white;
			border: unset;
			padding: 12px 24px;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				opacity: 0.85;
			}
		}
	}
}

@media (max-width: 880px) {
	.checkout-modal {
		h2 {
			font-size: 1.3rem;
		}
	}
}

@media (max-width: 660px) {
	.checkout-modal_list-item {
		.img-wrap {
			.cart-img {
				max-width: 100px;
			}
		}
		.information {
			.item-info {
				h4 {
					font-size: 1rem;
				}
			}
		}
	}

	.checkout-modal_footer {
		.totalAmount {
			h4:first-child {
				font-size: 1rem;
			}
		}
	}
}

@media (max-width: 520px) {
	.cart-modal {
		left: 5%;
		width: 90%;
	}
	.checkout-modal_list-item {
		.img-wrap {
			.cart-img {
				max-width: 75px;
			}
		}
		.information {
			.cart-addon {
				button {
					padding: 4px 8px;
				}
				.counter {
					padding: 0 6px;
				}
			}
		}
	}
}

@media (max-width: 447px) {
	.cart-modal {
		padding: 0.7rem;
	}
	.checkout-modal_list-item {
		.item-number {
			margin-right: 5px;
		}

		.img-wrap {
			.cart-img {
				max-width: 65px;
			}
		}
		.information {
			.item-info {
				h4 {
					font-size: 0.9rem;
				}
			}
			.cart-addon {
				button {
					padding: 4px 8px;
				}
				.counter {
					padding: 0 6px;
				}
			}
		}
	}
	.checkout-modal_footer {
		.totalAmount {
			h4:first-child {
				font-size: 0.9rem;
			}
		}
		button {
			padding: 8px 16px;
			font-size: 0.9rem;
		}
	}
}

.empty-cart {
	margin: auto;
	color: gray;
	padding: 24px 0 48px;
}

.order-container {
	display: flex;
	align-content: center;
	vertical-align: middle;
	min-height: 350px;

	&--success {
		margin: auto;
		text-align: center;

		img {
			max-width: 200px;
		}

		.message {
			h1 {
				margin: 0;
			}
			h1,
			span {
				margin-top: 8px;
			}
			span {
				color: rgba($color: $black, $alpha: 0.5);
			}

			p {
				margin-bottom: 0;
				color: $primary;
			}

			a {
				color: $primary;
			}
		}
	}
}
