$header-background-color: rgba(28, 34, 36, 0.8);
// $header-background-color: rgba(28, 34, 36, 0.75);
// $header-background-color: rgba(98, 101, 102, 0.99);

header {
	margin: 0;
	padding: 0 0px;
	background-color: $header-background-color;
	// background-color: black;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 15px 10px -15px #1111112b;
	position: sticky;
	z-index: 1024;
	top: 0;
}

.nav-brand {
	a,
	button {
		display: flex;
		align-items: center;
		padding: 12px 32px;
		text-decoration: none;
		color: white;
		font-size: 1.8rem;

		i {
			margin-left: 8px;
		}
	}

	&:hover {
		background-color: rgba($color: $header-background-color, $alpha: 0.5);
	}
}

.searchBox-container {
	align-self: center;
	// flex-grow: 1;
	width: 700px;

	form {
		position: relative;
		display: flex;
		// max-width: 100%;
		// margin: 0 80px;
		justify-content: center;

		input {
			flex-grow: 1;
			padding: 8px 56px 8px 16px;
			border: transparent;
			border-radius: 2px;
			width: 100%;
			font-size: 1rem;
			color: rgba(128, 128, 128, 0.897);
			outline: rgba($color: $header-background-color, $alpha: 0.5);
			max-width: 500px;
		}

		button[type="submit"] {
			background-color: $primary;
			position: relative;
			right: 32px;
			padding-right: 8px !important;
			padding-left: 8px !important;
			border: unset;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			cursor: pointer;
		}
	}
	div {
		display: none;
	}
}

.cart-container {
	display: flex;

	a,
	button {
		span {
			&:first-child {
				// padding-right: 8px;

				&[data-items]::after {
					position: relative;
					content: attr(data-items);
					font-size: 14px;
					background-color: teal;
					padding: 2px 4px;
					border-radius: 50%;
					top: -8px;
					right: -4px;
				}
			}
		}
	}
}

.nav-actions {
	display: flex;
}

.user-actions {
	button {
		color: $white;
		background-color: unset;
		border: unset;
		margin: 0 10px;
		cursor: pointer;
		font-size: 1.2rem;
		margin-right: 10px;
		height: 100%;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}

	span {
		margin-right: 10px;
	}

	&:hover {
		background-color: rgba($color: $header-background-color, $alpha: 0.5);
	}
}

// Media Queries
@media (max-width: 880px) {
	.nav-brand {
		a,
		button {
			font-size: 22px;
			padding: 14px 16px;
		}
	}

	.searchBox-container {
		display: flex;
		justify-content: end;
		form {
			display: none;
		}
		div {
			display: flex;
			button {
				font-size: 1rem;
				height: 61px;
			}
		}
		i {
			background-color: unset;
		}
	}

	.nav-actions {
		button {
			font-size: 1rem;
		}
	}
}

@media (max-width: 600px) {
	.searchBox-container {
		a span:first-child,
		button span:first-child {
			display: none;
		}
	}
	.nav-actions {
		a span:first-child,
		button span:first-child {
			display: none;
		}
	}
}

.login-action {
	display: flex;
	button {
		align-self: center;
		background-color: teal;
		border: initial;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		margin-right: 12px;
		padding: 12px 24px;
		height: 60%;
	}
}

@media (max-width: 400px) {
	.nav-brand {
		display: flex;
		a,
		button {
			font-size: 18px;
			padding: 10px 12px;
		}
	}
	.searchBox-container {
		.user-actions {
			button {
				margin: 0 5px;
			}
		}
	}

	.nav-actions {
		.user-actions {
			button {
				margin: 0 5px;
			}
		}
		.login-action {
			button {
				padding: 6px 12px;
				font-size: 0.9rem;
			}
		}
	}
}
