.product-list {
	padding: 2em 2em;
	width: 100%;
	min-height: 100vh;

	&--wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

@media (max-width: 1100px) {
	.product-list {
		padding: 1em 1em;

		&--wrapper {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.modal-img {
	max-width: 80%;
	min-width: 115px;
}

@media (max-width: 522px) {
	.modal-img {
		max-width: 65%;
	}
}

.item-card {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: inherit;
	padding: 0;
	width: 16.66%;
	margin: 16px;
	border-radius: 20px;
	// max-width: 360px;

	&__information {
		padding: 6px 12px;
		margin-top: 12px;
		text-align: center;

		.title {
			text-overflow: ellipsis;
			font-size: 16px;
			color: rgba($color: $black, $alpha: 0.8);
			overflow-x: hidden;

			h3 {
				margin: 4px 0 8px;
			}
		}
	}

	&__modal {
		display: flex;
		.img-wrap {
			flex-basis: 40%;
			min-width: 40%;
		}
		.meta {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			h3 {
				margin-top: 12px;
				margin-bottom: 4px;
				opacity: 0.8;
			}

			.modal-information {
				margin: 10px auto;
			}
		}

		button.cart-add {
			border-radius: 5px;
		}

		.cart-addon {
			justify-content: space-between;
		}

		.card-add__modal {
			// font-size: 2rem;
		}
	}
}

@media (max-width: 620px) {
	.card-add__modal {
		margin-top: 20px;
	}
}

@media (max-width: 780px) {
	.item-card {
		min-width: 125px;
	}
}

@media (max-width: 910px) {
	.item-card {
		h3 {
			font-size: 1rem;
		}
	}
}

@media (max-width: 522px) {
	.item-card__modal {
		flex-direction: column;

		.img-wrap {
			display: flex;
			justify-content: center;
		}

		.modal-cart-button {
			width: 70%;
		}
	}
}

.pricing {
	display: flex;
	justify-content: center;
	small {
		opacity: 0.5;
		font-weight: 400;
		margin-left: 14px;
	}
	span {
		font-size: 16px;
		font-weight: 500;
	}
}

button.cart-add {
	margin-top: auto;
	cursor: pointer;
	width: 100%;
	background-color: $primary;
	border-radius: 5px;
	border: unset;
	font-size: 1rem;
	padding: 8px 16px;
	color: $white;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	img {
		margin-left: 10px;
	}

	&__modal {
		margin-top: 8px;
	}
}

button.card-add__modal {
	margin-top: 8px;
	cursor: pointer;
	width: 100%;
	background-color: $primary;
	border-radius: 5px;
	border: unset;
	font-size: 1rem;
	padding: 8px 16px;
	color: $white;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	img {
		margin-left: 10px;
	}
}

button.cart-add:before,
button.card-add__modal:before {
	content: "Add to Bag";
}

@media (max-width: 920px) {
	button.cart-add:before {
		content: "Add";
	}
}

@media (max-width: 655px) {
	button.card-add__modal:before {
		content: "Add";
	}
}

.cart-addon {
	margin-top: auto;
	display: flex;
	&__modal {
		margin-top: 8px;
	}
	// margin-top: 8px;
	justify-content: space-between;
	align-items: center;
	button {
		cursor: pointer;
		background-color: $primary;
		border-radius: 4px;
		border: unset;
		font-size: 0.9rem;
		padding: 8px 12px;
		color: $white;
	}
	span.counter {
		font-weight: lighter;
		padding: 0 16px;
	}
}

.card-addon {
	@extend .cart-addon;
	width: 100%;
}

.tip {
	overflow-y: auto;
}
