@import url("https://fonts.googleapis.com/css2?family=Doppio+One&family=Roboto:wght@300;400&display=swap");
@import "./styles/variables";
@import "./styles/items.scss";
@import "./styles/header.scss";
@import "./styles/subheader.scss";
@import "./styles/loader.scss";
@import "./styles/modal.scss";
@import "./styles/cart.scss";
@import "./styles/login.scss";
@import "./styles/orders.scss";
@import "./styles/profile.scss";
@import "./styles/spinner.scss";
// @import "~bootstrap/scss/bootstrap";

* {
	box-sizing: border-box;
}

html {
	// font-family: 'Noto Sans JP', sans-serif;
	font-family: "Doppio One", sans-serif;
}

body {
	line-height: 1.5;
	margin: 0;
	position: relative;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

.tip {
	overflow-y: auto;
}
// .divider:after,
// .divider:before {
// 	content: "";
// 	flex: 1;
// 	height: 1px;
// 	background: #eee;
// }
